
@font-face {
    font-family: Decimal;
    src: url(./assets/fonts/Decimal-Book.otf) format('woff');
    src:  url(./assets/fonts/Decimal-Light.otf) format('woff');
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #161718;
    background-image: url(./assets/Vector.svg);
    background-size: 94%;
    background-position: center;
    background-repeat:repeat-y;
    height: 100%;
}

h3{
    color: #ffffff;
    font-size: 2.25rem;
    font-family: Decimal;

}

p{
    color: #ffffff;
    font-size: 1.625rem;
    font-family: Decimal;
    font-weight: 500;
    line-height: 2.2rem;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.nav{
    position: fixed;
    display: flex;
    flex-direction:flex;
    align-items: center;
    padding-top: 1.1rem;
    z-index: 5;
}

.logo{
    padding-left: 6rem;
    padding-right: 8rem;
}

.switch {
    position: relative;
    z-index: 2;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #696565;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #bebebe;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
   
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.nav-right{
   position: fixed;
   right: 4.7rem
}

.nav-right ul{
    list-style: none;
    display: inline-flex;
    text-decoration: none;
    color: #ffffff;
}

.nav-right li{
    font-family: Decimal;
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.holder{
    display: flex;
    flex-direction: row;
    padding-top: 11rem;
    padding-left: 8.5rem;
}

.intro{
    width: 50%;
    align-self: flex-end;
}

.computer{
    padding-right: 2rem;
    width: 100%;
    height: auto;
}

.holder-a{
    display: flex;
    flex-direction: row;
    padding-top: 14.5rem;
    padding-left: 8.6rem;
}

.work1{
    width: 45%;
    align-self: flex-end;
}

.holder-b{
    display: flex;
    flex-direction: row;
    padding-top: 14.8rem;
    padding-left: 8.4rem;
}

.work2{
    width: 45%;
    align-self: flex-end;
}

.holder-c{
    display: flex;
    flex-direction: row;
    padding-top: 16.1rem;
    padding-left: 8.6rem;
}

.work3{
    width: 50%;
    align-self: flex-end;
}

.holder-d{
    display: flex;
    flex-direction: row;
    padding-top: 10.5rem;
    padding-left: 8.4rem;
}

.work4{
    width: 47%;
    align-self: flex-end;
}

.holder-e{
    display: flex;
    flex-direction: row;
    padding-top: 17rem;
    padding-left: 8.4rem;
}

.work5{
    width: 45%;
    align-self: flex-end;
}

.work-img{
    padding-right: 7rem;
    padding-left: 7rem;
    margin-bottom: 8rem;
    width: 100%;
    height: auto;
}

.about{
    padding-top: 8rem;
    padding-left: 8rem;
    display: flex;
    flex-direction: row;
}

.info{
    width: %;
    align-self: flex-end;
}

.typeface{
    width: 85%;
}

.ellipse{
   height: 100%;
   width: auto;
}

.coming{
    padding-top: 8rem;
    padding-left: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.question{
    padding-top: 6rem;
}

.question h3{
    padding-right: 23rem;
}

.resume p{
    font-size: 1.2rem;
    color: #bebebe;
}

.resume h3{
    font-size: 1.6rem;
    color: #bebebe;
}

.resume-pdf{
    display: flex;
    flex-direction: row;
    padding-top: 10rem;
    padding-left: 10.5rem;
}

.resume-row{
    display: flex;
    flex-direction: row;
    padding-top: 10rem;
    padding-left: 10.5rem;
}

.resume-col{
    width: 40%;
}

.resume-col_2{
    width: 55%;
    padding-top: 0.5rem;
}

.company{
    color: #ffffff;
}

.resume-col h3{
    color: #ffffff;
}
