
@font-face {
    font-family: Decimal;
    src: url(./assets/fonts/Decimal-Book.otf) format('woff');
    src:  url(./assets/fonts/Decimal-Light.otf) format('woff');
}

*{
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #bebebe;
    --font-color: #ffffff;
    --resume: #bebebe;
    --bg-color: #161718;
    --backgroundVector: url(./assets/Vector.svg);
  }
  
  [data-theme=dark] {
    --primary-color: #7EA4EA;
    --secondary-color: #656565;
    --font-color: #0A52DE;
    --resume: #0A52DE;
    --bg-color: #F2F6F6;
    --backgroundVector: url(./assets/Vector-light.svg);
  }
  


body{
    background-color: var(--bg-color);
    background-image: var(--backgroundVector);
    background-size: 94%;
    background-position: center;
    background-repeat:repeat-y;
    height: 100%;
}

h3{
    color: var(--font-color);
    font-size: 2.25rem;
    font-family: Decimal;

}

p{
    color: var(--font-color);
    font-size: 1.625rem;
    font-family: Decimal;
    font-weight: 500;
    line-height: 2.2rem;
}

a{
    color: var(--font-color);
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    border-bottom: 3px solid var(--primary-color);
}

a:target{
    border-bottom: 3px solid var(--primary-color);
}

.nav{
    position: fixed;
    top: 1.1rem;
    display: flex;
    align-items: center;
    transition: top 0.4s ease;
    z-index: 5;
}

.nav.hide{
    top: -200px;
}

.logo{
    padding-left: 6rem;
    padding-right: 8rem;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
  }
  .theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
  }
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display: none;
  }
  
  .slider {
    background-color: #F2F6F6;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }
  
  .slider:before {
    background-color: #bebebe;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #F2F6F6;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.nav-right{
    position: fixed;
    right: 4.7rem
}

.nav-right ul{
    list-style: none;
    display: inline-flex;
    text-decoration: none;
    color: #ffffff;
}

.nav-right li{
    font-family: Decimal;
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.holder{
    display: flex;
    flex-direction: row;
    padding-top: 11rem;
    padding-left: 8.5rem;
}

.intro{
    width: 45%;
    align-self: flex-end;
}

.computer{
    padding-right: 2rem;
    width: 100%;
    height: auto;
}

.holder-a{
    display: flex;
    flex-direction: row;
    padding-top: 14.5rem;
    padding-left: 8.6rem;
}

.work1{
    width: 45%;
    align-self: flex-end;
}

.holder-b{
    display: flex;
    flex-direction: row;
    padding-top: 14.8rem;
    padding-left: 8.4rem;
}

.work2{
    width: 45%;
    align-self: flex-end;
}

.holder-c{
    display: flex;
    flex-direction: row;
    padding-top: 16.1rem;
    padding-left: 8.6rem;
}

.work3{
    width: 50%;
    align-self: flex-end;
}

.holder-d{
    display: flex;
    flex-direction: row;
    padding-top: 10.5rem;
    padding-left: 8.4rem;
}

.work4{
    width: 47%;
    align-self: flex-end;
}

.holder-e{
    display: flex;
    flex-direction: row;
    padding-top: 17rem;
    padding-left: 8.4rem;
}

.work5{
    width: 45%;
    align-self: flex-end;
}

.work-img{
    padding-right: 7rem;
    padding-left: 7rem;
    margin-bottom: 8rem;
    width: 100%;
    height: auto;
}

.about{
    padding-top: 8rem;
    padding-left: 8rem;
    display: flex;
    flex-direction: row;
}

.icons{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-bottom: 8rem;
}

.info{
    width: %;
    align-self: flex-end;
}

.typeface{
    width: 85%;
}

.ellipse{
   height: 100%;
   width: auto;
}

.coming{
    padding-top: 8rem;
    padding-left: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.question{
    padding-top: 6rem;
}

.question h3{
    padding-right: 15rem;
}

.question span{
    border-bottom: 2px solid#ffffff;
}

.resume{
    padding-top: 15rem;
}

.resume p{
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.resume h3{
    font-size: 1.6rem;
    color: var(--secondary-color);
}

.resume-pdf{
    display: flex;
    flex-direction: row;
    padding-bottom: 10rem;
    padding-left: 10.5rem;
}

.resume-pdf p{
    color: var(--resume);
}

.resume-pdf span{
    padding-top: 0.5rem;
    border-bottom: 2px solid#ffffff;
}

.resume-row{
    display: flex;
    flex-direction: row;
    padding-bottom: 10rem;
    padding-left: 10.5rem;
}

.resume-col{
    width: 40%;
}

.resume-col_2{
    width: 55%;
}

.company{
    color: var(--font-color);
}

.resume-col h3{
    color: var(--primary-color);
}

