@font-face {
    font-family: Decimal;
    src: url(./assets/fonts/Decimal-Book.otf) format('woff');
    src:  url(./assets/fonts/Decimal-Light.otf) format('woff');
}

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #161718;
}

h3{
    color: #ffffff;
    font-size: 2.2rem;
    font-family: Decimal;
}

h4{
    color: #ffffff;
    font-size: 1.6rem;
    font-family: Decimal;
}

h5{
    color: #bebebe;
    font-size: 0.75rem;
    font-family: Decimal;
}

p{
    color: #bebebe;
    font-size: 1.3rem;
    font-family: Decimal;
    font-weight: 500;
    line-height: 2.2rem;
}

a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

li{
    color: #bebebe;
    font-size: 1.3rem;
    font-family: Decimal;
}

.nav{
    position: fixed;
    display: flex;
    flex-direction:flex;
    align-items: center;
    padding-top: 1.1rem;
    z-index: 5;
}

.logo{
    padding-left: 6rem;
    padding-right: 8rem;
}

.switch {
    position: relative;
    z-index: 2;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #696565;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #bebebe;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
   
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.nav-right{
   position: fixed;
   right: 4.7rem
}

.nav-right ul{
    list-style: none;
    display: inline-flex;
    text-decoration: none;
    color: #ffffff;
}

.nav-right li{
    font-family: Decimal;
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.hero{
    height: auto;
    width: 100%;
}

.company-row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 4.5rem;
    padding-top: 4rem;
}

.company-col_1{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.company-col_2{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.btn-1{
    padding: 14px 42px;
    border-radius: 100px;
    font-family: Decimal;
    font-size: 1.1rem;
    color: #ffffff;
    border: 1px solid #E5E5E5;
    background: #161718;
}

.detail-row{
    display: flex;
    flex-direction: row;
    padding-left: 4.5rem;
    padding-top: 7rem;
}

.detail-col_1{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.detail-col_2{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.detail-col_3{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.detail-col_4{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.preview{
    padding-left: 4.5rem;
    padding-top: 10rem;
}

.rectangle{
    width: 94.8%;
}

.preview-row{
    display: flex;
    flex-direction: row;
    padding-left: 4.5rem;
    padding-top: 7rem;
    align-items: center;
}

.preview-row p{
    color: #bebebe;
    font-size: 1.625rem;
    font-family: Decimal;
}

.preview-col{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.preview-img{
    width: 50%;
}

.part-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 4.5rem;
    padding-top: 8rem;
}

.part-col_1{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.part-col_2{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.circles-row{
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    padding-left: 4.5rem;
}

.circles-col_1{
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    width: 50%;
}

.circles-col_2{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.btn-2{
    width: fit-content;
    padding: 16px 32px;
    border-radius: 100px;
    font-family: Decimal;
    font-size: 1.1rem;
    color: #ffffff;
    border: 1px solid #E5E5E5;
    background: #161718;
}

.circles-explain{
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-top: 7rem;
}

.circles-explain p{
    color: #bebebe;
    font-size: 1.625rem;
    font-family: Decimal;
    font-weight: 500;
    line-height: 2.2rem;
}

.circles-explain .white{
    color: #ffffff;
}

.explain-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3rem;
}

.aba-row{
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    padding-left: 4.5rem;
}

.aba-col_1{
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    width: 50%;
}

.aba-col_2{
    display: flex;
    flex-direction: column;
    width: 35%;
}

.open-text{
    display: flex;
    flex-direction: row;
    padding-left: 4.5rem;
    justify-content: center;
    padding-top: 3rem;
    width: 90%;
}

.aba-hero{
    padding-top: 5rem;
}

.problem-row{
    display: flex;
    flex-direction: row;
    padding-top: 7rem;
    padding-left: 4.5rem;
}

.problem-col{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.problem-col_2{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.problem-explain{
    padding-top: 10rem;
    padding-left: 14rem;
    padding-bottom: 6rem;
    width: 86%;
}

.target-row{
    display: flex;
    flex-direction: row;
    padding-top: 20rem;
    padding-left: 4.5rem;
}

.target-col{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.target-col_2{
    display: flex;
    flex-direction: column;
    width: 36%;
    padding-top: 1rem;
}

.token{
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
}

.token-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.target-img_1{
   height: auto;
   width: 60%;
   padding-bottom: 7rem;
}

.plan{
    padding-left: 4.5rem;
    padding-top: 7rem;
}

.plan-row{
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
}

.plan-col{
    display: flex;
    flex-direction: column;
    padding-right: 13rem;
}

.prototype{
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
    margin: auto;
    width: 90%;
}

.brief-row{
    display: flex;
    flex-direction: row;
    padding-left: 4.5rem;
    padding-top: 7rem;
}

.brief-col{
    display: flex;
    flex-direction: column;
    width: 50%
}

.brief-col_2{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.eval-row{
    display: flex;
    flex-direction: row;
    padding-left: 4.5rem;
    padding-top: 7rem;
}

.eval-col{
    display: flex;
    flex-direction: column;
    width: 50%
}

.eval-col_2{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.engage-row{
    display: flex;
    flex-direction: row;
    padding-left: 4.5rem;
    padding-top: 7rem;
}

.engage-col{
    display: flex;
    flex-direction: column;
    width: 50%
}

.engage-col_2{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.journey-row{
    display: flex;
    flex-direction: row;
    padding-left: 4.5rem;
    padding-top: 7rem;
}

.journey-col{
    display: flex;
    flex-direction: column;
    width: 50%
}

.journey-col_2{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.journeymap{
    display: flex;
    justify-content: center;
    padding-top: 7rem;
}

.design-header{
    padding-left: 4.5rem;
    padding-top: 7rem;
}

.present{
    display: flex;
    flex-direction: row;
    padding-left: 4.5em;
    padding-top: 10rem;
    gap: 7rem;
}

.present-col{
    display: flex;
    flex-direction: column;
    width: 33%;
}

.present-col_2{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
}

.present-footer{
    padding-top: 7rem;
    margin: auto;
    width: 90%;
}

.phones{
    display: flex;
    padding-top: 7rem;
    justify-content: space-evenly;
}

.itinerary{
    padding-left: 4.5rem;
    padding-top: 20rem;
    width: 45%;
}

.journal-scroll{
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.closing{
    width: 85%;
    margin: auto;
}

.project-cards{
    padding-top: 7rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-col{
    display: flex;
    flex-direction: column;
}